@font-face {
	font-family: "Avenir";
	src: url("./fonts/avenir_ff/AvenirLTStd-Boman.otf") format("opentype");
}
/* 
url("./fonts/avenir_ff/AvenirLTStd-Black.otf") format("opentype"),
url("./fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype"), 
*/

.prime-font {
	font-family: Avenir;
	white-space: nowrap;
	font-weight: 400;
}

body {
	background-color: #ffffff;
}
.bg-mask {
	height: 948px;
	width: 463px;
	border-radius: 48px 0 0 0;
	background-color: #1f1b33;
	border: 0.02em solid #eeeeee;
}
section {
	margin: 0;
	padding: 0;
}

.phone-01 {
	height: 948px;
	max-height: 948px;
	min-height: 948px;
	width: 463px;
	max-width: 463px;
	min-width: 463px;
	/* border: 0.05em solid #eeeeee; */
}

/* div.phone-01 {
	height: 948px;
	margin: 0;
	margin-right: 23px;
	border: 0.05em solid yellow;
} */

.cover {
	background-color: #ffffff;
	height: 700px;
	max-height: 700px;
	min-height: 700px;
	width: 400px;
	margin: 0;
	vertical-align: top;
	text-align: left;
	display: inline-block;
	padding: 0;
}

.title-bar {
	height: 33px;
	width: 160px;
	margin-top: 43px;
	margin-left: 36px;
	color: yellow;
	/* border: 0.05em solid yellow; */
}

.title-bar {
	height: 33px;
	width: 160px;
}

.avatar {
	height: 33px;
	width: 160px;
}

.rectangle {
	height: 4px;
	width: 30px;
	border-radius: 3.5px;
	background-color: #e8e5e5;
	margin-bottom: 6px;
}

.rectangle-copy-5 {
	height: 4px;
	width: 30px;
	border-radius: 3.5px;
	background-color: #e8e5e5;
	margin-bottom: 7px;
}

.rectangle-copy-6 {
	height: 4px;
	width: 30px;
	border-radius: 3.5px;
	background-color: #e8e5e5;
}

.start {
	height: 33px;
	width: 95px;
	color: #9f9fa0;
	/* font-family: Avenir;
	white-space: nowrap; */
	font-size: 24px;
	letter-spacing: 5px;
	line-height: 33px;
	margin-left: 65px;
	margin-top: -25px;
}

.start span {
	font-weight: 400;
}

/* https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */

.second {
	position: relative;
	width: 100wh;
	top: 122px;
	left: 27px;
}

.hay-avatar {
	height: 38px;
	width: 83px;
	position: inherit;
	left: 58px;
}

.viktor {
	height: 38px;
	width: 83px;
	color: #ffffff;
	/* font-family: Avenir;
	white-space: nowrap; */
	font-size: 28px;
	/* font-weight: 900; */
	font-weight: 600;
	letter-spacing: 0;
	line-height: 38px;
}

.menu {
	height: 454px;
	width: 176px;
}

.divider {
	/* position: relative;
	left: 0;
	top: 61.5px; */
	box-sizing: border-box;
	height: 1px;
	width: 175.5px;
	border: 1px solid #84818e;
}

.avatar-icon {
	height: 21px;
	width: 19px;
}

.menu-item-1 {
	height: 21px;
	width: 19px;
	background-color: #84818e;
	color: #84818e;
	position: relative;
	left: 47px;
}

/* .start {
	height: 27px;
	width: 41px;
	color: #fc8074;
	font-family: Avenir;
	white-space: nowrap;
	font-size: 20px;
	letter-spacing: -0.5px;
	line-height: 27px;
} */

.selected-item-bg {
	height: 51px;
	width: 175px;
	opacity: 0.2;
	border-radius: 15.5px;
	background-color: #fc8074;
}

.your-cart {
	height: 27px;
	width: 84px;
	color: #ffffff;
	font-family: Avenir;
	white-space: nowrap;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 27px;
}

.favourites {
	height: 27px;
	width: 93px;
	color: #ffffff;
	/* font-family: Avenir;
	white-space: nowrap; */
	font-size: 20px;
	letter-spacing: 0;
	line-height: 27px;
}

.your-orders {
	height: 27px;
	width: 108px;
	color: #ffffff;
	/* font-family: Avenir;
	white-space: nowrap; */
	font-size: 20px;
	letter-spacing: 0;
	line-height: 27px;
}

.sign-out {
	/* position: relative;
	left: 30px;
	top: 59.5px; */
	height: 27px;
	width: 80px;
	color: #ffffff;
	/* font-family: Avenir;
	white-space: nowrap; */
	font-size: 20px;
	letter-spacing: 0;
	line-height: 27px;
	margin-left: 30px;
}
