body {
  background-color: #dddddd;
}

.navbar {
  margin-top: 0.5em;
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.15em;
  margin-left: 0.5em;
  font-size: 1em;
  vertical-align: bottom;
}

.phone-menu,
.phone-start {
  height: 948px;
  max-height: 948px;
  min-height: 948px;
  width: 440px;
  border: 0.05em solid #eeeeee;
  border-radius: 1.5em;
  background-color: #ffffff;
}

.phone-menu {
  position: absolute;
  background-color: #1f1b33;
  top: 0;
  z-index: -1;
}

#btnCtrl {
  display: none;
}

#btnCtrl:checked+label>section.phone-start {
  transform-origin: left;
  transform: translate(300px, 20px) rotate(-10deg);
}