
@font-face {
	font-family: 'Avenir';
	src: url("fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}

/* src: url("https://fonts.googleapis.com/css?family=Avenir") format("truetype"); */
/* src: url("fonts/avenir/Avenir.ttc") format("truetype"); */
/* src: url("fonts/avenir/Avenir Next.ttc") format("truetype"); */
/* src: url("fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype"); */

body {
	background-color: #ffffff;
}

section {
	margin: 0;
	padding: 0;
}

.bg-mask {
	height: 948px;
	width: 463px;
	/* border-radius: 48px 0 0 0; */
	border-radius: 48px 0 0 48px;
	background-color: #1F1B33;
}
